body { 
    background-color: lightsteelblue;

}

h1 {
    background-color: aqua;
    color: brown;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
}

h3 {

    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
}

p { 
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    justify-content: center;
}

img {
    height: auto;
    width: 80%;
    align-items: center;
    justify-items: auto;
}
